[2015-06-23 15:57] jshawl opened #1 "projector out"

[2015-06-23 15:58] jshawl opened #2 "water cooler warm"

[2015-10-29 17:25] #1 closed, assigned to nobody

[2015-10-29 17:25] #2 closed, assigned to jshawl

[2015-10-29 18:25] adambray opened #3 "Stock up more on useful dry erase markers (black, blue, green, red)"
We have way too many useless markers in the classroom.

Black, blue, green, and red are the only ones that are useful. The rest are not easily visible from > 5 feet, and are discouraged by the coaches for teaching purposes.

[2015-10-29 18:50] JonRojas opened #4 "Men's bathroom urinal is leaking!"
2nd urinal is leaking

[2015-10-29 18:56] Campus-Commander commented on #4
I don't like the men's bathroom

[2015-10-29 18:56] #4 closed, assigned to nobody

[2015-10-29 18:58] JonRojas opened #5 "Projector in room 1 does not work"

[2015-10-29 18:59] amychoi commented on #5
Too bad.

[2015-10-29 19:00] #5 closed, assigned to nobody

[2015-10-29 19:10] JonRojas opened #6 "No coffee"
Where my coffee at?

[2015-10-29 19:11] Campus-Commander commented on #6
too bad! ha!

[2015-10-29 19:16] Campus-Commander commented on #6
no

[2015-10-29 19:16] #6 closed, assigned to Campus-Commander

[2015-10-29 19:47] adambray opened #7 "Internet issues"
Put em here!

[2015-10-29 19:47] adambray commented on #7
Thursday 10/29, 3:47 in classroom 5. Very Slow

[2015-10-29 19:57] amychoi commented on #7
Thanks, Adam. Sent this to global.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Oct 29, 2015 at 3:47 PM, Adam Bray notifications@github.com wrote:

[2015-10-29 20:19] Campus-Commander commented on #7
Thanks Amy!

[2015-10-29 21:01] jshawl opened #8 "relocate cable strip in classroom 4."
it's right in the middle of the drawing area

[2015-10-29 21:08] amychoi commented on #8
Working with a contractor to quote how much this will be to move.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Oct 29, 2015 at 5:01 PM, Jesse Shawl notifications@github.com
wrote:

[2015-10-31 17:39] adambray opened #9 "ID Card doesn't work for weekend access"
@amychoi I had to come in this morning for observations, and my ID doesn't work on the front door. Can you help in getting it activated? In case you need it, the numbers printed on it are:

16-00642 11101163827-1A

[2015-10-31 20:11] amychoi commented on #9
Can you slack me a picture of the back of your ID and I will take care of this?

Amy Choi | Experience Coordinator
General Assembly | 1133 15th St. NW | Washington, D.C.
amy.choi@ga.co | 202-823-3874

Sent from my iPhone

[2015-11-02 14:35] adambray opened #10 "Classroom 5 is very dark"
Classroom 5 is pretty dark, even with the lights cranked all the way up, which makes it hard to see the whiteboard.

Would it be possible to get brighter bulbs?

[2015-11-02 14:37] adambray commented on #10
(Also, just a heads up the the front lights were aimed at the board, causing glare, so I re-pointed them to be down-ward facing)

[2015-11-02 15:04] LivingDATLife commented on #10
Noted! Will look in to this today

[2015-11-03 13:25] jshawl opened #11 "PB & J Stand on the 8th Floor"
![](http://i.giphy.com/l0O9xyxefblWfNWKc.gif)

[2015-11-03 17:22] mattscilipoti opened #12 "Install screen remote holder in new Classrooms"
Please install a holder in classroom #5 for the screen remote.  This helps to ensure that it does't get lost .  It also gives it a "home", so we know exactly where to look for it when we need it.

[2015-11-03 17:33] mattscilipoti opened #13 "Fix installed projector in classroom #5"
We realize that this a known issue.  I just wanted to ensure it was in the new "system", so we could get/give feedback.

Update (11/3): Projector should be available via Apple TV.
Identified issue: HDMI wall cable is not present.

[2015-11-03 17:34] amychoi commented on #12
Hey Matt,

We have a wall-mounted remote, but it will obstruct the wall which you can
write on...

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Nov 3, 2015 at 12:22 PM, Matt Scilipoti notifications@github.com
wrote:

[2015-11-03 17:34] RobertAKARobin opened #14 "Projector in Classroom 1 is very dim"

[2015-11-03 17:34] RobertAKARobin opened #15 "Side vents in Classroom 1 tend to blow hot air, even when set to cool temperatures"

[2015-11-03 17:35] amychoi commented on #13
Hey - the actual projector in CR 5 should work. We can make sure by
directly connecting the HDMI/dongle to the projector's input. We have to
install the Apple TV we just received for that classroom, which should
eliminate this problem. The issue with CR 5 is actually the wall plate and
the cord(s) inside of the wall that connect to the projector.

*Amy Choi *| Experience Coordinator
General Assemb

[2015-11-03 17:37] mattscilipoti commented on #12
Ah.  Maybe on a column?

[2015-11-03 17:55] LivingDATLife commented on #12
Hey Matt!

The wall mounted remotes has to be plugged in to the project screen in order to operate. Are you free later today to take a look?

[2015-11-03 17:56] Campus-Commander commented on #12
Hey Matt!

The wall mounted remotes has to be plugged in to the project screen in order to operate. Are you free later today to take a look?

[2015-11-03 17:58] Campus-Commander commented on #14
Hey!

Can you snap a photo for me? I'd like to send it off to global to give them an idea of what is happening

[2015-11-03 18:04] Campus-Commander commented on #15
Hey! Noted- this has been a consistent pain point it - we've reached out to the building numerous times to get this fixed. I'll let you know what comes of this next round of requests

[2015-11-03 20:01] RobertAKARobin commented on #15
Thanks!

[2015-11-03 20:10] RobertAKARobin commented on #14
![cam00144](https://cloud.githubusercontent.com/assets/6268177/10920208/00ec13ae-823d-11e5-9a38-7f6ebbb8ba02.jpg)

[2015-11-03 20:34] Campus-Commander commented on #14
Thank you!

[2015-11-03 21:53] Campus-Commander commented on #14
Hey! Have you tried the brightness on the projector in the settings? I wonder if it gets switched around with the evening folks? Let me know - thanks!

[2015-11-04 12:54] mattscilipoti commented on #12
Connected?  The one I just used in 6 was not connected. I can meet between 12:30 and 1 today.  I'll be in 4, as class ends, at 12:30.

[2015-11-04 13:58] RobertAKARobin commented on #14
Tried turning the brightness up all the way. Still pretty dim!

[2015-11-04 16:42] Campus-Commander commented on #12
Hey!

I have a meeting at that time

We have two ways to operate projector screens:
1. Using the handheld remotes
2. Using the wall mounted/screen connected remotes

I can ask IT if there are any handheld remote mounts that can be sent to us. The wall mounted remotes were supposed to be an alternative to the handheld version since those tend to get removed from rooms even when there is a wall moun

[2015-11-04 16:48] RobertAKARobin commented on #11
:+1:

[2015-11-04 16:51] amychoi commented on #11
This has already been in the works for a week or two. It requires restructuring the kitchen, so hang tight.

[2015-11-04 16:54] adambray commented on #9
Thanks Amy. I got my new card!

[2015-11-04 16:54] #9 closed, assigned to nobody

[2015-11-04 16:56] mattscilipoti commented on #12
Ah.  Communication.  I was looking for a simple wall holder for the hand-held remote - so the hand-held remote had a home (when we weren't actively using it).  We have hand-held remotes, but they are migrating around the room and from room to room.  This hardly ever happened in the other classrooms and I assumed (possibly incorrectly) that the wall mounted holder helped alleviate this.

[2015-11-04 16:58] adambray commented on #7
Just noting additional issues as instructed by production, in case it helps diagnose:
- Wed, 11/04, ~9:30am, Classroom 5
  - connection to ga-guest extremely slow, loading a web page during a lesson took ~45 seconds
- Wed, 11/04, ~10:15am, Classroom 6
  - speed issues on GA-Guest and 1176 member 8, made video conferencing very difficult. worked after reconnecting 2x.

[2015-11-04 16:59] mattscilipoti commented on #12
I was wondering why the connected, wall remote was added to #4.  It decreased our available whiteboard space.  Now, it makes sense - given your translation of our request.

[2015-11-04 17:05] timfoley opened #16 "CR1 Light Bulbs Out"
Two light "bulbs" in the back row of Classroom 1 don't work. One buzzes and blinks, but doesn't stay on.

[2015-11-04 17:08] adambray opened #17 "Managing external noise leaking into the classrooms"
I think this has gotten slightly better due to changes in the vents (at least in some classrooms).

But... it's still not uncommon for there to be noise issues from people talking outside, esp in Classroom 1.

I wonder if there are gentle steps we could take, such as signage in the appropriate areas, reminding people that classes may be nearby.

[2015-11-04 17:35] adambray opened #18 "Classroom 1 Thermostat is programmed at 75ºF"
It's too hot usually, and every day we have to over-ride the temp at least 3x, because it won't let you over-ride for more than 3 hours.

[2015-11-04 19:54] jshawl commented on #11
https://generalassembly.slack.com/archives/dc-wdi7-discussion/p1446666765000129

[2015-11-04 21:54] adambray commented on #7
Wed, 11/04, 4:54, Classroom 4
unresponsive on 1776-Member-8. Had to disconnect and reconnect to get access

[2015-11-04 21:56] amychoi commented on #7
Relayed to Global IT team. Please run wireless diagnostics if possible and
send over tar file to us.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Nov 4, 2015 at 4:54 PM, Adam Bray notifications@github.com wrote:

[2015-11-05 19:09] jshawl commented on #13
The rolly projector was not connecting today

[2015-11-05 19:46] jshawl commented on #7
Took 2 minutes to connect to ga-guest in classroom 5 this morning.

[2015-11-05 19:51] amychoi commented on #7
Thanks - if this happens again, can you run a wireless diagnostic by
holding down the option button and clicking on the wireless icon on the mac
toolbar and click "Open Wireless Diagnostics" and run a diagnostics report
and sent over to us :)

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, N

[2015-11-05 20:42] mattscilipoti opened #19 "Manage power at all GA Student Work Space tables in the back room"
This request is for the fairly stationary, big tables in the back study area.
- provide power where there isn't
- correct safety issues.  Cables should not be across traffic areas.
  - We have "semi-permanent" cables across the main walkway, without tape.
  - We regularly have loose, wavy cables across traffic areas, between tables.

[2015-11-05 21:12] amychoi commented on #19
Thanks for the feedback, Matt. This is something we noticed as well. We are
currently in the process of working with 1776 to add more spaces for our
students in that work area and optimize spots for providing power more
permanently. In the meantime, we can make sure Frontlines add more
extension cords and/or spaces these out in the most efficient way. We can
have this done tomorrow evening for nex

[2015-11-06 15:53] amychoi commented on #13
Hey Jesse - sorry about that. Frontlines should've installed Apple TV in
Classroom 5. Please let me know if you have further issues. I can have
Frontlines check the crash cart and cords this evening as well.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Nov 5, 2015 at 2:09 PM, Jesse Shawl

[2015-11-10 16:27] timfoley commented on #7
I just had GA-Guest cut out 3 times during a 40 minute meeting over Hangouts. It took ~30-40 seconds to reconnect each time. Didn't have a chance to run a wireless diagnostic at the time, but I can't imagine it would be any different from these previous ones I submitted.

[2015-11-10 16:32] amychoi commented on #7
Thanks, submitted to IT team.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Nov 10, 2015 at 11:27 AM, Tim Foley notifications@github.com
wrote:

[2015-11-12 14:00] amaseda opened #20 "Can the screens in Classrooms 4 & 5 be adjusted to stop when they reach a certain height?"
The screens won't stop dropping unless you tell them to with the remote (unlike the ones in Classrooms 1, 2, 3). Thx!

[2015-11-12 14:05] amychoi commented on #20
Hey Adrian, with those projectors - to my knowledge - the screens can only
be stopped with the projector when told to. That is the only options we
have with the remotes currently.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Nov 12, 2015 at 9:00 AM, Adrian Maseda notifications@github.com

[2015-11-12 14:11] Campus-Commander commented on #20
Or I find a spell... Let me chat with Hermione real quick and get back to you!

But really: I'll look up the product and confirm :-)

[2015-11-12 14:20] amychoi commented on #20
Wingardium levioSTOP!

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Nov 12, 2015 at 9:11 AM, Campus-Commander notifications@github.com
wrote:

[2015-11-12 14:39] amaseda commented on #20
Sounds good, thanks!

[2015-11-12 14:39] #20 closed, assigned to nobody

[2015-11-12 16:01] adambray commented on #17
Just noting that this was an issue again today with the Marriott event. During breaks, they congregated outside classroom 4, causing some noise issues.

Maybe we could coordinate when large external events are, so at least instructors can plan break or alternate activities when noise may be greater.

[2015-11-12 16:34] amychoi commented on #17
Hey Adam - yeah, we were super aware and sorry about that! We spoke to them
about this and moving forward, they will take note to keep their voices low
or move elsewhere :)

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Nov 12, 2015 at 11:01 AM, Adam Bray notifications@github.com
wrote:

[2015-11-12 18:09] jshawl commented on #17
@amychoi is there an internal calendar of events? Second Adams comment on planning alternate activities during these times. Let's work together on this issue!

[2015-11-12 18:16] amychoi commented on #17
Hi Jesse - we are already working on this with the Production Team. Stay
tuned. We are aiming to have one ready and out for December + moving
forward.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Nov 12, 2015 at 1:09 PM, Jesse Shawl notifications@github.com
wrote:

[2015-11-13 14:20] adambray opened #21 "Screen Remote for CR5 is broken"
I tested the one from CR4 and it works on the CR5 screen, but the CR5 remote doesn't work on either. Turned it into the front desk.

[2015-11-13 14:28] amychoi commented on #21
Thanks, Adam - I'll take a look at it when you guys break for lunch...

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Fri, Nov 13, 2015 at 9:20 AM, Adam Bray notifications@github.com wrote:

[2015-11-13 14:58] Campus-Commander commented on #21
There is another remote in the safe- we can do a trade and re-label that one for CR5! I'll ping Allyson

[2015-11-13 15:31] Campus-Commander commented on #21
Confirming that Allyson will bring the extra screen remote in during lunch break

[2015-11-16 15:13] RobertAKARobin opened #22 "Pepsi instead of Coke?"
Diet Pepsi products are now aspartame-free, which allegedly means they're healthier!

[2015-11-16 15:22] Campus-Commander commented on #22
Ha! Drop some hints to Allyson :-)

[2015-11-16 16:47] JonRojas commented on #3
Markers purchased.

[2015-11-16 16:47] #3 closed, assigned to bmartinowich

[2015-11-16 16:49] JonRojas commented on #7
GA IT is investigating the issue. If you continue to have issues, please see [Amy's Internet Issues document](https://slack-files.com/files-pri-safe/T024JRAUL-F0EKNGGQY/wifi_problems.pdf?c=1447692543-ac473abd847403ab09027d52485fd122e5f7fcfc)

[2015-11-16 16:49] #7 closed, assigned to nobody

[2015-11-16 16:49] JonRojas commented on #21
Remote replaced

[2015-11-16 16:50] JonRojas commented on #11
Peanut Butter Jelly Time!

[2015-11-16 16:50] #11 closed, assigned to nobody

[2015-11-16 16:53] JonRojas commented on #15
@Campus-Commander any updates from the building on this?

[2015-11-16 16:54] JonRojas commented on #18
@Campus-Commander @amychoi is there a way to set the over-ride or default temperature?

[2015-11-16 16:56] JonRojas commented on #12
Will look into the extra remotes we found during the closet cleaning.

@Campus-Commander @amychoi can we test in CR4 and 5?

[2015-11-16 16:56] JonRojas commented on #22
Can purchase Pepsi as well ;)

[2015-11-16 16:56] #22 closed, assigned to nobody

[2015-11-16 16:57] JonRojas commented on #17
Teams will coordinate events! :)

[2015-11-16 16:57] #17 closed, assigned to nobody

[2015-11-16 17:16] Campus-Commander commented on #12
I've taken the wall mount down and placed a handheld remote in the room labeled CR 4 @JonRojas

[2015-11-16 17:19] Campus-Commander commented on #18
@JonRojas not that I know of off the top of my head- can ask the building for insight

[2015-11-16 17:20] Campus-Commander commented on #15
@JonRojas is it still happening?

[2015-11-16 17:33] amychoi commented on #12
thanks nyemadi!

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Nov 16, 2015 at 12:16 PM, Campus-Commander <notifications@github.com

[2015-11-16 20:48] timfoley commented on #15
@Campus-Commander As of a few weeks ago yes. It's about to be much less of a problem now that the weather's cooling down, but I am very curious if the building ever took it seriously and tried to fix it. Have we heard anything from them?

[2015-11-17 19:59] adambray commented on #21
Just noting that the remote's gone missing in CR5. Using the one from CR4 in the meantime, and just moving it back and forth.

[2015-11-17 20:20] JonRojas commented on #21
Thanks @adambray, I just bought a label maker so we can put labels on things. (rightful homes!)

Put a bird on it.

![bird](https://cloud.githubusercontent.com/assets/1315364/11223594/bf8623c0-8d3e-11e5-9df5-9f6c6cb7ccd2.gif)

[2015-11-17 20:21] JonRojas commented on #21
Will close when things are properly labeled.

[2015-11-17 20:22] Campus-Commander commented on #21
I have a remote for you at the front desk when you're on a break. It's labeled awfully but it's the thought that counts right!? @adambray @JonRojas

[2015-11-19 22:57] RobertAKARobin opened #23 "Could we get Ethernet access in the Cubby Room?"
I've heard rumors that the Ethernet in this building is CRAZY fast. It would be awesome if there was a designated hook-up spot with cables!

[2015-11-19 23:09] Campus-Commander commented on #23
This is an exclusive club- but we'll work to get you access #RumorHasIt @RobertAKARobin

[2015-12-01 14:33] mattscilipoti opened #24 "Projector Broken in Classroom 1"
This is a known issue (we have projector on cart).  Adding to ensure it makes it into the regular flow.

[2015-12-01 14:52] mattscilipoti opened #25 "Backup projector (used in Classroom 1) is fuzzy. Can not bring into sharp focus."
The backup projector, currently used in Classroom 1, can not be brought to a sharp focus.  It is hard to read from the back of the class.
S/N ends with 0190.

Due to this, we request to escalate repair of the "normal" projector: #24.

[2015-12-01 15:44] jshawl commented on #24
https://generalassembly.slack.com/archives/dc-instructors/p1448930062000005

[2015-12-01 15:46] jshawl opened #26 "Port-a-projector in classroom 5"
Is the overhead projector here broken?

[2015-12-01 15:49] amychoi commented on #26
Hey Jesse - thanks for the note. It's not technically broken, rather the
cable in the wall from the projector to the wall plate is and we are still
assessing how that can be fixed as it would require going through the wall.
The wall plate can be temperamental hence why we leave the crash cart in
there for usage. Is that not working out right now in the meantime?

*Amy Choi *| Experience Coordinato

[2015-12-01 16:34] jshawl commented on #26
It's working well! Just wanted to log it for seventh generation / team documentation.

Sent from my iPhone

[2015-12-01 17:45] mattscilipoti commented on #14
Checked bulb life with FL this morning: around 3k.

[2015-12-01 18:05] Campus-Commander commented on #14
New bulb is being ordered by Global IT team! @mattscilipoti @RobertAKARobin

[2015-12-01 18:28] #21 closed, assigned to nobody

[2015-12-01 18:29] mattscilipoti commented on #25
Tested options.  We moved it back a bit (on rolling podium now) and using HDMI cable (rather than VGA).

[2015-12-01 18:29] mattscilipoti commented on #25
It is acceptable.  But, we would still prefer the installed projector.

[2015-12-01 18:32] mattscilipoti commented on #24
Tested w/FL today.  Works with Matt's laptop, though it is still dim.  The temporary projector is brighter, but not as sharp.  Identified that installed projector needs bulb.  Made decision to continue with temporary projector until that is corrected.
Closing this ticket as duplicate of #14.

[2015-12-01 18:38] amychoi commented on #25
New bulb is going to be ordered from global which will fix brightness issue.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Dec 1, 2015 at 1:29 PM, Matt Scilipoti notifications@github.com
wrote:

[2015-12-01 20:19] jshawl opened #27 "Is it possible to run a small server on the GA network?"
interested in either:

1) Modifying DNS entries to point to a local server
2) Plugging a raspi into the network so only people on the wifi can access that server

[2015-12-02 02:20] timfoley opened #28 "Screen Cut-Off in Rm 4"
Presentations in Rm4 are cut off by the projector. I looks like we need to fiddle with the zoom settings on the projector itself and potentially test with a few computers. This has happened across a few different computers. I just heard about this from my DGM instructors.

[2015-12-02 06:11] shanazcw commented on #25
I'd like to leave this issue open until the new bulb is ordered and installed.

[2015-12-02 06:13] shanazcw commented on #28
@amychoi Have the new front lines team members been trained on projector troubleshooting?

[2015-12-02 06:15] shanazcw commented on #27
@jshawl I have no idea, so I've pinged our IT department! Keeping this thread open until we have an answer from Ian! :)

[2015-12-02 06:16] shanazcw commented on #26
+1 for seventh generation / team documentation! :D

[2015-12-02 06:17] shanazcw commented on #23
@Campus-Commander This is so exciting! Any updates?

[2015-12-02 06:17] shanazcw commented on #18
Is this still an issue? If so, we can work on getting a fan in the classroom if we haven't already.

[2015-12-02 06:18] shanazcw commented on #15
@Campus-Commander Let's update this, and if it's fixed, let's close this out.

[2015-12-02 06:19] shanazcw commented on #13
@Campus-Commander let's check in on this and close this out if it's resolved.

[2015-12-02 06:20] shanazcw commented on #10
@Campus-Commander @LivingDATLife Can we have an update?

[2015-12-02 11:47] amychoi commented on #27
@ShanazFC Nyemadi has already connected with IT about this with Jesse.

[2015-12-02 12:49] amychoi commented on #28
Yep.

Sent from my iPhone

[2015-12-02 12:50] amychoi commented on #28
Hey Tim - I'll look @ this today before class. Thx for letting us know.

[2015-12-02 13:33] amychoi commented on #28
@timfoley I just fixed the aspect ratio. It was on 16:9 and I reverted it back to auto. I tested with my laptop and it was good to go. It was a projector setting.

[2015-12-02 13:33] #28 closed, assigned to nobody

[2015-12-03 13:44] adambray opened #29 "Attach cupholders to podia"
Maybe some that can screw on to the bottom and just out?

[2015-12-07 14:28] jshawl commented on #27
1776 has a known static IP: 50.200.196.50 We'll use this instead of running a small server. :+1:

[2015-12-07 14:28] #27 closed, assigned to nobody

[2015-12-08 15:57] timfoley opened #30 "Missing Marker Cups in Classrooms"
There are a few classrooms that are missing any sort of marker cup. As it stands, markers are kinda scattered around the radiator shelf, podia, etc.

Last I checked this affected classrooms 3 and 4. Not sure about the others, atm.

[2015-12-08 21:50] ebirving commented on #16
Any ETA on a fix for this?

[2015-12-08 21:52] amychoi commented on #16
Yes - I found out I have to figure out the light bulbs myself and go to
Home Depot because the build out contractor doesn't have the information,
so I will work on this being fixed by end of next week.

Sorry for the delay and thanks for checking in!

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

O

[2015-12-08 21:52] ebirving commented on #16
Awesome! Thanks, Amy!

[2015-12-09 18:32] amychoi commented on #23
Ethernet cable is in cubby room @RobertAKARobin

[2015-12-09 18:32] #23 closed, assigned to nobody

[2015-12-09 18:33] #12 closed, assigned to nobody

[2015-12-10 14:15] JonRojas commented on #29
@adambray, do you think something like this would work?

[clip-on cupholder](http://www.ebay.com/itm/Home-Office-Use-Drink-Cup-Party-Coffee-Glass-Cup-Holder-Stand-Clip-Desk-Table-/281758367389)

[2015-12-10 14:31] amychoi commented on #29
I was actually thinking the ones that hook to the side might be better
because of the way the podiums are...

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Dec 10, 2015 at 9:15 AM, Jon Rojas notifications@github.com wrote:

[2015-12-10 14:37] JonRojas commented on #29
👍😄

[2015-12-10 16:02] adambray commented on #29
Yeah, I think something that hooks over would be more secure

[2015-12-10 17:57] amychoi commented on #29
I'll look into some options and see what we can bring onto campus next
week... stay tuned.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Dec 10, 2015 at 11:02 AM, Adam Bray notifications@github.com
wrote:

[2015-12-14 16:49] amychoi commented on #30
I ordered red buckets. OTW by this Friday.

[2015-12-14 16:53] amychoi commented on #15
Hi Team, I think this is more of a user error issue. You can override it when it's hot/cold air, but we can show how. I've fixed it a couple of times. I will close this issue.

[2015-12-14 16:53] #15 closed, assigned to nobody

[2015-12-14 18:29] timfoley commented on #15
I'd definitely like to see what override options we have.

This summer, when the thermostat was set as cold as it could go, it would still blow hot air. Does this fix account for that?

[2015-12-17 14:29] RobertAKARobin opened #31 "Classroom 1 - Sound concerns"

[2015-12-21 17:15] #30 closed, assigned to nobody

[2016-01-13 00:38] timfoley commented on #31
Sitting in on final presentations in BEWD, and you can clearly hear just about _any_ noise in the kitchen. Those vents!

[2016-01-13 00:47] timfoley commented on #24
I've heard from my instructors that the overhead projector in CR 1 doesn't work. Right now they're using a podium projector. Any idea on the status of that projector? Did the new bulb help?

[2016-01-14 17:01] alfonsobravo opened #32 "Printer in Classroom 2"
The printer in CR2 was apparently between problematic to not working at all. Not sure if its ink or mechanical but would appreciate it being looked at and serviced if needed.

[2016-01-14 17:47] Campus-Commander commented on #32
I'll take a look at it this afternoon- thanks for flagging!

[2016-01-14 23:16] Campus-Commander commented on #32
Hey! Looks like toner may have been the issue- I changed the ones that were low (black & yellow). Lemme know if the printer keeps causing problems!

[2016-01-15 18:03] RobertAKARobin opened #33 "Can we ask Front Lines to *not* clean off whiteboards until like 4:30 or 5?"
We asked our students to write things on the back wall of Classroom 5 over the course of the day as a reflection on this WDI. Someone erased all of it around noon. :( I don't know whether it was Front Lines, and even if it was we totally can't fault them because we should have put up a "Do Not Erase" sign or something. But it may be a good idea to have a directive in place along these lines!

[2016-01-15 18:06] Campus-Commander commented on #33
Oh no :-( Not sure who did that- my apologies if it was someone from my team

[2016-01-15 18:20] RobertAKARobin commented on #33
I meant "we totally can't fault them," not "we can't totally fault them"!

[2016-01-15 19:14] alfonsobravo commented on #32
Thank you!

[2016-01-15 20:42] Campus-Commander commented on #32
Sure thing!

[2016-01-20 16:15] alfonsobravo opened #34 "Pod maintenance"
I just had a student find a string cheese wrapped left in one of the pods, and there's also a fair amount of hair buildup / crumbs etc. at any point in time. Can we have either a front-lines process (and maybe get them a dustbuster or something), or communicate with the cleaning staff about them? "Pods get gross" has come up more than once in feedback. Thank you!

[2016-01-20 16:58] Campus-Commander commented on #34
Hey! Thanks for letting me know about this. There was a clear task given to FL who worked last night to dirt devil the denim pods and clear them out. Sorry your student had to deal with that!

[2016-01-21 18:59] Campus-Commander commented on #24
@amychoi @timfoley Hey Tim! Amy met with Anthony from IT earlier this week when he made a site visit. She can connect with you and provide deeper insight.

[2016-01-21 19:00] Campus-Commander commented on #31
@amychoi @timfoley Hey! Amy can connect with you and provide some context around our abilities with building changes.

[2016-01-21 23:11] amychoi commented on #24
We are getting a new bulb. The other issue we found out when the AV people
came was that the HDMI cord from the projector through the wall to the wall
plate is backwards, hence why the picture is always crappy. They will be
replacing the HDMI cord and replacing the bulb as soon as we receive it.
Hopefully done by the first week of February.

*Amy Choi *| Experience Coordinator
General Assembly htt

[2016-01-22 18:19] amychoi commented on #31
Update - Tim & I spoke about looking into acoustic paneling after we finish
the AV project the first week of February. Will do some research on
affordable, easy-to-install options.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Jan 21, 2016 at 2:00 PM, Campus-Commander notifications@github.

[2016-01-28 16:12] mattscilipoti commented on #25
I created this issue to clear up an issue with the temporary projector.  The installed projector is covered by #24.  I recommending closing this duplicate.

[2016-01-28 16:32] mattscilipoti commented on #34
Thanks for the quick response to this need.
I would love to see a response that talks to the long-term support questions that were raised (in response to student feedback).

[2016-01-28 16:45] adambray opened #35 "Water Fountain has funny taste and gives cotton mouth"

[2016-01-28 16:47] adambray commented on #35
This is the one in the front kitchen, have gotten reports from multiple people. Maybe it just needs to be flushed.

[2016-01-28 16:50] bmartinowich commented on #34
@Campus-Commander Has this been officially resolved? I'd like to close the issue if @alfonsobravo agrees that it's good to go!

[2016-01-28 16:51] bmartinowich commented on #33
@Campus-Commander Can we add this to the Front Lines agenda list? I'll close this issue, once it's resolved for future instances cc: @RobertAKARobin

[2016-01-28 16:51] bmartinowich commented on #32
@alfonsobravo @Campus-Commander Sounds like this issue is resolved. Can either of you confirm?

[2016-01-28 16:57] bmartinowich commented on #31
Sounds like this might be a long term issue/request @amychoi. Any update on the acoustic paneling?

[2016-01-28 17:01] bmartinowich commented on #29
@amychoi Just spoke with @adambray about this issue. We can close it, but moving forward I think the instructors would like to be consulted more about the podia decisions or other stuff that will impact the classroom experience. :+1:

[2016-01-28 17:02] #29 closed, assigned to nobody

[2016-01-28 17:26] JonRojas commented on #35
Thanks!

@amychoi is contacting CoolerSupport to get it checked out. In the meantime, only drink 🍺

[2016-01-28 17:27] adambray commented on #35
It might be worth getting a few pitchers and just filling them up and dumping them to flush the cooler lines out.

I've had similar problems when moving into an apartment that'd been empty for 2 months, and doing this made a big improvement.

[2016-01-28 17:29] amychoi commented on #35
They are coming to service the water cooler in 1-3 business days.

[2016-01-28 20:46] Campus-Commander commented on #34
Hey! @bmartinowich - My vote is to keep this issue open in case other pod problems arise. What are your thoughts @alfonsobravo ?

[2016-01-28 20:53] Campus-Commander commented on #33
@bmartinowich @RobertAKARobin Yup for sure it'll be noted! Classroom flipping occurs in the morning and then post 5:30pm- so noon is an oddity for team experience to wipe down a classroom

[2016-01-28 20:55] Campus-Commander commented on #32
@bmartinowich I'll leave this one for @alfonsobravo to decide. This time around was a toner issue- but printers are finicky so who knows what could happen next!

[2016-01-28 21:17] Campus-Commander commented on #10
@bmartinowich @adambray @amychoi @ShanazFC I've noticed recently that the dimmers in this classroom are often pushed all the way down. Web Dev mood lighting? Ha- I'll think through some ways to help highlight pushing up the dimmers if needed. And FL/myself will know what to do in case people come to ask. :-)

[2016-01-28 21:20] Campus-Commander commented on #13
@bmartinowich @timfoley How are instructors feeling about this projector now? I think the Apple TV has helped but sometimes it is spotty at certain times. Thoughts?

@ShanazFC @amychoi

[2016-01-28 21:24] amychoi commented on #13
The wall plate/HDMI cord from the projector, Apple TV, and the HDMI/dongle cord all work according to Myerconnex who came onsite. All should be good to go.

[2016-01-28 21:26] Campus-Commander commented on #16
@bmartinowich  @timfoley @ebirving @amychoi Lights bulb situation is still in progress. After attempts to remove them ourselves and asking members of Front Lines and full time staff for assistance were unsuccessful- we're reaching out to our facilities team to see if they are able to provide guidance.

[2016-01-28 21:26] thatdevgirl opened #36 "Wobbly table in classroom 4"
I noticed this Tuesday evening.  One of the tables is really wobbly in classroom 4.  It was the 2nd from the windows in the 2nd row.

[2016-01-28 21:27] Campus-Commander commented on #36
@thatdevgirl @amychoi @bmartinowich Great- we'll take a look at this today. Thanks for flagging!

[2016-01-29 00:16] alfonsobravo commented on #32
Fixed! Thanks!

On Thu, Jan 28, 2016 at 3:55 PM, Campus-Commander notifications@github.com
wrote:

##

*Alfonso Bravo *| Education Programs Producer
General Assembly http://generalassemb.ly | 1133 15th St. NW | Washington,
D.C.
alfonso@ga.co | 202-264-0188 http://+12022640188

[2016-01-29 00:17] alfonsobravo commented on #32
Fixed! Thanks!

[2016-01-29 00:17] #32 closed, assigned to nobody

[2016-01-29 17:05] adambray commented on #10
Hey Nyemadi,

You're right that the dimmers do get pushed down, but I (personally) feel that the CR is pretty dark even when the dimmers are all the way up.

-Adam

[2016-01-30 15:26] shanazcw commented on #26
Hey @amychoi -- can you update the team on the projector status and our plan of action?

[2016-01-30 15:27] #25 closed, assigned to nobody

[2016-01-30 15:27] shanazcw commented on #24
Hey @amychoi Similar update here. :)

[2016-01-30 15:28] shanazcw commented on #19
@amychoi can you give us an update on where we're at with 1776? I think the update is "no update" given the difficulty Shahier has had coordinating with their interior designer, but if you have additional context, let us know! :)

[2016-01-30 15:29] shanazcw commented on #18
Hey @Campus-Commander! Any updates from the building on this issue?

[2016-01-30 15:30] #13 closed, assigned to nobody

[2016-01-30 15:34] shanazcw commented on #8
As an update here, we're prioritizing getting the tech issues resolved (projectors, HDMI cables, wall plates, etc) and then our next major task will look into scouting out how much this will cost, with a goal of having this resolved by mid- to end of February.

[2016-01-30 16:49] Campus-Commander commented on #18
Hi! @ShanazFC  I don't have an update- but will loop back around again after looking in to toggling the thermostat. We do have two fans in this classroom though! So it'll be helpful until we get the final solution :-)

[2016-02-01 16:50] amychoi commented on #36
@Campus-Commander can we get the extra table leg thingys and make sure this is donezo?

[2016-02-01 16:50] bmartinowich commented on #35
Quick update: We've posted a sign and cooler support is coming this week.

[2016-02-01 16:52] bmartinowich commented on #34
Closing Issue based off conversation with @amychoi and @JonRojas

[2016-02-01 16:52] #34 closed, assigned to nobody

[2016-02-01 16:52] #33 closed, assigned to nobody

[2016-02-01 16:53] bmartinowich commented on #31
Closing issue - panels are being ordered and we will post a sign.

[2016-02-01 16:54] bmartinowich commented on #26
@ShanazFC Classroom 5 projector is working. Closing issue based of conversation with @JonRojas and @amychoi

[2016-02-01 16:54] #26 closed, assigned to nobody

[2016-02-01 16:56] bmartinowich commented on #24
@ShanazFC IT is coming on Weds to fix the cord. Projector is being RMA'd to be replaced. Will keep open for the time being, unless the cord resolves the problem.

[2016-02-01 16:57] bmartinowich commented on #19
No update as of 2/1 @amychoi is meeting with Shahier later today for an update.

[2016-02-01 16:57] bmartinowich commented on #18
No update -- we'll set-up a session on how to use the thermostat. Session is TBD.

[2016-02-01 16:59] JonRojas commented on #16
I'm doing some research on these bulbslubs/fixtures

[2016-02-01 16:59] bmartinowich commented on #14
See issue #24 -- closing this issue.

[2016-02-01 16:59] #14 closed, assigned to nobody

[2016-02-01 17:00] bmartinowich commented on #8
No update this week!

[2016-02-02 16:50] bmartinowich commented on #35
@amychoi Fixed the water cooler - closing issue

[2016-02-02 16:50] #35 closed, assigned to nobody

[2016-02-02 18:32] RobertAKARobin opened #37 "Projector in Classroom 5 occasionally flickers and makes a static burst"

[2016-02-04 15:44] JonRojas commented on #37
@RobertAKARobin we're using CR5 now and I will look out for this. Was it happening with the cable or AppleTV?

[2016-02-04 15:46] amychoi commented on #37
We had the MyerConnex guys test it again and he had no issue. If you can
clarify which it was with (cable or Apple TV) that will definitely help us
diagnose the problem.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Thu, Feb 4, 2016 at 10:44 AM, Jon Rojas notifications@github.com wrote:

[2016-02-08 21:39] bmartinowich commented on #37
@RobertAKARobin Do you have an update on this issue? We were in Classroom 5 today, and I didn't see any issues. Wanted to check with you first though...

[2016-02-08 21:40] bmartinowich commented on #36
@Campus-Commander Is this resolved? Let me know if you have an update :)

[2016-02-08 21:41] bmartinowich commented on #24
@amychoi Was IT able to fix the cord/projector last week? Seemed like we had issues today

[2016-02-08 21:42] bmartinowich commented on #8
@amychoi Any update this week?

[2016-02-08 21:43] bmartinowich commented on #16
@JonRojas Any update on research for bulbs? Let us know -- thanks!

[2016-02-08 21:44] bmartinowich commented on #10
@Campus-Commander @amychoi Based off @adambray 's observations, do we have any creative solutions here?

[2016-02-08 21:45] bmartinowich commented on #18
@amychoi Suggestions and next steps on the info session for how to use the thermostat?

[2016-02-08 21:47] bmartinowich commented on #19
@amychoi Were you able to meet with Shahier? Any update on this?

[2016-02-08 22:08] thatdevgirl commented on #36
I _think_ so, but I can test when I'm in class tomorrow night.

[2016-02-08 22:09] Campus-Commander commented on #18
Hey! I'm looking in to the Honeywell thermostat models that we have on campus for any best practices and combine with the knowledge I already have. @bmartinowich

[2016-02-09 15:01] amychoi commented on #24
Yes - they replaced the HDMI cord that was faulty in the wall. We will also
just be replacing that projector when we receive a new one from Austin's
campus. Still waiting on the ETA for that and to reschedule MyerConnex.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Feb 8, 2016 at 5:04 PM,

[2016-02-09 15:02] amychoi commented on #8
No update yet. Still waiting to fix a few outstanding projector issues.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Feb 8, 2016 at 5:05 PM, Brian Martinowich notifications@github.com
wrote:

[2016-02-09 15:03] amychoi commented on #19
From our meeting yesterday, Shahier is in the process of getting quotes and
it should be scheduled/completed by the end of February.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Feb 8, 2016 at 5:08 PM, Brian Martinowich notifications@github.com
wrote:

[2016-02-10 14:36] thatdevgirl commented on #36
I had my class wiggle all the tables last night and they all seemed fine.  :)  Marking this as closed.

[2016-02-10 14:36] #36 closed, assigned to nobody

[2016-02-11 18:39] alfonsobravo opened #38 "CR2 - ~4 Lightbulbs Out"
Will be recording presentations in there and classroom is a bit dark. Would appreciate bulbs being replaced when possible!

[2016-02-11 18:52] Campus-Commander commented on #38
@alfonsobravo Hey!  @amychoi are working on learning how to get bulbs in and out of these classrooms - we'll loop back around!

[2016-02-17 15:37] adambray opened #39 "CR3 - Projector Settings Messed up on HDMI Cable Input"
Airplay works ok, but is unreliable, so that's not a great fallback.

When using HDMI, the projector's aspect ratio get all messed up and stretch the screen. Switching to Anamorphic 2 fixes the aspect ratio, but the resolution gets reported as something wonky and tall and narrow, like 800x1600, so the top and bottom of the screen are cut off.

[2016-02-17 16:41] timfoley opened #40 "Bathroom Cleaning before PT Classes"
Just about every single Mid- and End-of-Course survey I receive has a few strong complaints about bathroom cleanliness. Here's a representative sample:

From my own experience, this isn't that much of an exaggeration.

What's the current cleaning schedule? I often see them taking out the trash during the day, but do they clean the floors/toilets if necessary? Whatever they're currently doing isn't

[2016-02-17 16:45] amychoi commented on #40
Don't know the schedule - but pinged Shahier and I've talked to him about
this complaint before. Stay tuned.

[2016-02-17 16:49] timfoley commented on #40
Thanks Amy!

[2016-02-17 17:39] Campus-Commander commented on #39
@adambray @amychoi Hey! We'll take a look at this when we flip classrooms for the evening.

[2016-02-17 17:42] adambray commented on #39
Ok, thanks! FWIW, we're on break until 2pm today.

[2016-02-17 17:49] Campus-Commander commented on #39
@adambray I have a 1:00pm meeting and then a backlog of items I need to wrap up. If you'd like my attention before that- I can switch some items around.

[2016-02-17 21:49] bmartinowich commented on #38
@Campus-Commander @amychoi Any update on these bulbs in CR4?

[2016-02-17 21:50] bmartinowich commented on #37
@RobertAKARobin Just checking in again, do you have any update on this? It's my understanding that this might have be resolved, since all projectors have been replaced on campus.

[2016-02-17 21:51] bmartinowich commented on #24
@amychoi I believe that the projector has been replaced. Can you confirm that this has been resolved? cc: @mattscilipoti

[2016-02-17 21:53] bmartinowich commented on #18
@Campus-Commander Were you able to look into the Honeywell materials? Maybe we provide a quick tutorial to major stakeholders on campus? What can we do to close this issue?
cc: @amychoi

[2016-02-17 21:54] bmartinowich commented on #16
@amychoi @JonRojas I think we can close this issue, since the projectors have been replaced -- can one of you confirm?

[2016-02-17 21:55] bmartinowich commented on #8
@amychoi Now that projectors have been replaced on campus, what are next steps here?

[2016-02-17 21:56] amychoi commented on #16
This is about the light bulbs in the classroom, not the projector light
bulb. We can't figure out how to open them... without breaking them...

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Feb 17, 2016 at 4:54 PM, Brian Martinowich <notifications@github.com

[2016-02-17 21:56] amychoi commented on #24
Yes - it's been replaced.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Feb 17, 2016 at 4:51 PM, Brian Martinowich <notifications@github.com

[2016-02-17 21:56] amychoi commented on #37
When MyersConnex came back to remount CR 3's projector a few weeks ago, I
asked them to look at this classroom again and test it and it was fine.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Feb 17, 2016 at 4:50 PM, Brian Martinowich <notifications@github.com

[2016-02-17 21:57] RobertAKARobin commented on #37
Hey, I haven't used CR5 in a long time and so am unsure. Sorry.

[2016-02-17 22:17] amychoi commented on #8
Need to find an electrician/contractor who can take care of this.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Feb 17, 2016 at 4:55 PM, Brian Martinowich <notifications@github.com

[2016-02-17 22:21] amychoi commented on #8
Reaching out to global to help me find someone who can do this for us.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Feb 17, 2016 at 5:17 PM, Amy Choi amy.choi@generalassemb.ly wrote:

[2016-02-17 22:33] Campus-Commander commented on #18
@bmartinowich @amychoi Hi! I've looked through the materials and will write up a few notes that can be posted next to the thermostat. I say let's keep this open even after that though.

[2016-02-18 21:03] Campus-Commander commented on #38
@bmartinowich @amychoi Tim and I made an interesting discovery - stay tuned for an update. I'll be checking lights tonight!

[2016-02-19 13:52] jshawl opened #41 "CR4 projector - HDMI cable/port not working"
cannot screencast lessons

[2016-02-19 18:30] timfoley opened #42 "Tell Shahier to Buy Toner in Bulk"
It's ridiculous! They should never run out...

[2016-02-19 18:42] Campus-Commander commented on #42
@amychoi @timfoley While we can make a suggestion, I don't know that we can dictate how they spend money and when they do it? Amy would you like to ask him about bulk toner or should I?

[2016-02-19 18:53] timfoley commented on #42
I apologize for exaggerating there; I was feeling pretty emotional at the time :P . We **can** tell him how disappointing it is that it appears they wait until the printer runs out of toner to order more, and that it takes more than a few days for the replacement to arrive. The same thing happened last month.

[2016-02-19 19:40] Campus-Commander commented on #42
@timfoley @amychoi haha no worries- it is frustrating that they do not replenish as often as they should. I think the printers upstairs get a bit more attention from them but that's not fun to have to walk all the way up consistently. I'll let you know what comes of that conversation

[2016-02-19 19:44] timfoley commented on #42
Thanks!

[2016-02-19 22:23] timfoley commented on #42
It's been replaced! And Shaheir (SP?) said they generally have more on hand, but they ran out this time... so I'll just make sure to whine extra loud next time this happens.

[2016-02-22 16:50] #42 closed, assigned to nobody

[2016-02-22 16:52] amychoi commented on #40
Building told us that cleaning is scheduled 3x a day, but I challenged that since we always see the bathrooms dirty. They are also working on getting us a quote for hand dryers to eliminate paper towel waste. Will talk to Shahier again this week.

[2016-02-22 16:52] bmartinowich commented on #41
@jshawl Did we try another cord or dongle? I'll speak with front lines about this make sure we get this resolved ASAP cc: @amychoi

[2016-02-22 16:54] bmartinowich commented on #39
@adambray After speaking with @amychoi it sounds like it might have been your computer resolution settings, when using the projector. Let me know if you're available this week to test everything out!

[2016-02-22 16:55] bmartinowich commented on #38
@Campus-Commander Can we close this out, based off your interesting discovery?

[2016-02-22 16:56] bmartinowich commented on #37
Planning to test this out today on my laptop. Will close if resolved.

[2016-02-22 16:56] #24 closed, assigned to nobody

[2016-02-22 16:56] adambray commented on #39
Don't think it was my computer, as we had issues with 2 or 3 other computers we tested with. I'll play with it during lunch today and see if I can reproduce.

[2016-02-22 16:57] bmartinowich commented on #18
@Campus-Commander Any update on the write up? Happy to assist here!

[2016-02-22 16:57] #16 closed, assigned to nobody

[2016-02-22 17:00] bmartinowich commented on #10
Planning to see if we can add a brighter bulb in the room, or add additional lights to the track. Will update by next week!

[2016-02-22 17:02] thatdevgirl commented on #41
I've tried a couple of different HDMI cords in CR4 and that connection never seems to work.  I've just been using airplay.

[2016-02-22 17:19] bmartinowich commented on #39
@adambray We just tested two computers and cords in classroom 3 and both work properly. I'm going to close this issue, but let's sync up at some point today!

[2016-02-22 17:19] #39 closed, assigned to nobody

[2016-02-22 17:28] bmartinowich commented on #37
Tested out today. Did notice the flicker, working with @amychoi to resolve. Looks like it might be the wall outlet.

[2016-02-22 17:28] Campus-Commander commented on #18
None needed- thanks though!

[2016-02-29 16:25] bmartinowich commented on #41
Thanks @thatdevgirl! @amychoi and I will check the cords today during lunch and provide everyone with an update.

[2016-02-29 16:26] bmartinowich commented on #40
@amychoi Any update on the quote or from the conversation with Shahier on this?

[2016-02-29 16:26] bmartinowich commented on #38
@amychoi @Campus-Commander Closing this out, since it's resolved.

[2016-02-29 16:26] #38 closed, assigned to nobody

[2016-02-29 16:50] bmartinowich commented on #37
Confirmed with @amychoi that this is resolved. Changed out the cord and works fine. (might encounter a slight pause when switching between inputs, but it's normal)

[2016-02-29 16:50] #37 closed, assigned to nobody

[2016-02-29 16:50] bmartinowich commented on #19
@amychoi Still planning to meet with Shahier to discuss next steps. Will update once they meet.

[2016-02-29 16:52] bmartinowich commented on #18
@amychoi is working with @Campus-Commander to complete write-up. Should be resolved by next week

[2016-02-29 16:52] amychoi commented on #18
@Campus-Commander hey, let's get this one pager up in the classrooms this week and do a quick run through with Brian so that he also knows how to override for WDI

[2016-02-29 16:53] bmartinowich commented on #8
@amychoi Should have an update from Zeke on this by EOD today

[2016-02-29 20:24] adambray opened #43 "HDMI Wall Plate in CR3 is extremely loose"
Even just making contact with the cable with your body will cause the cable to disconnect. It's exacerbated by it's location relative to the podium / screen, i.e. you have to keep walking over it to get from behind the podium.

[2016-02-29 20:27] Campus-Commander commented on #43
Hey @adambray  noted. @amychoi can we have someone come out?

[2016-02-29 20:36] adambray commented on #43
Just a note, what really prompted me to file this issue was that Kevin has had it come out at least 5x during his afternoon lesson today.

[2016-02-29 20:37] adambray commented on #43
(and I've had it happen to me quite a bit lately too.)

[2016-02-29 20:39] Campus-Commander commented on #43
Thanks for flagging!

[2016-03-01 22:15] adambray opened #44 "CR1 Apple TV - No computers can connect"

[2016-03-01 22:15] adambray opened #45 "CR1 Projector Not working"
Tried multiple computers

[2016-03-01 22:58] amychoi commented on #45
Fixed this. HDMI ports in projector were backwards (Apple TV is supposed to
be in HDMI and display is supposed to be in HDMI 2). Works now.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Mar 1, 2016 at 5:15 PM, Adam Bray notifications@github.com wrote:

[2016-03-01 23:00] amychoi commented on #45
Spoke too soon. HDMI2 isn't working :'(

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Mar 1, 2016 at 5:58 PM, Amy Choi amy.choi@generalassemb.ly wrote:

[2016-03-01 23:53] adambray opened #46 "CR6 - Possible Projector Issue"
I arrived to class right on time, so I couldn't ask the instructor to troubleshoot, but the screen has a very strong green tint. I think this is usually a cable / connection issue, but as I mentioned, haven't been able to help him troubleshoot, and won't be able to tonight.

[2016-03-02 16:04] Campus-Commander commented on #46
@adambray @amychoi will have the front littles take a look this evening

[2016-03-02 16:11] adambray commented on #46
Thanks! Just a note it got better at one point when we jiggled the cable, then later it went back to a greenish tint.

[2016-03-02 16:58] Campus-Commander commented on #46
Thanks for that insight!

[2016-03-04 22:29] RobertAKARobin commented on #41
It didn't work today. Solution: wedge a pen beneath the crate and the cable where it connects to the computer.

[2016-03-07 16:12] amychoi commented on #44
This should work now. I fixed it last week.

[2016-03-07 16:13] amychoi commented on #40
Beltway came and did a deep cleaning of the bathrooms last Friday. We should have hand dryers installed by the end of next week, according to building management.

[2016-03-07 16:51] bmartinowich commented on #46
Going to review today after blastoff - will have an update soon

[2016-03-07 16:52] bmartinowich commented on #45
Planning to schedule an additional session for this cc: @amychoi

[2016-03-07 16:53] bmartinowich commented on #44
Closing this - refer to https://github.com/ga-dc/campus/issues/45

[2016-03-07 16:53] #44 closed, assigned to nobody

[2016-03-07 16:56] bmartinowich commented on #40
Sounds like this is resolved, with the hand dryers being installed @amychoi will confirm

[2016-03-07 16:56] #40 closed, assigned to nobody

[2016-03-07 16:56] bmartinowich commented on #18
@amychoi @Campus-Commander Gentle reminder on the one-pager!

[2016-03-07 16:57] bmartinowich commented on #10
@amychoi Reminder to add additional lights to the track

[2016-03-07 16:57] amychoi commented on #18
@Campus-Commander please set asides time with Brian + put up one pagers today in the classrooms. It would also be helpful if we do a little one pager for Front Lines.

[2016-03-07 17:45] amychoi commented on #10
Touching base with global.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Mar 7, 2016 at 11:57 AM, Brian Martinowich <notifications@github.com

[2016-03-07 18:17] bmartinowich commented on #43
Note: The wall plate is not loose, however the HDMI input is a little more flexible. Tested out on laptop and still works. Just need to be careful with walking around cord.

[2016-03-07 18:17] #43 closed, assigned to nobody

[2016-03-07 18:20] bmartinowich commented on #41
Tested out with @amychoi with two different connectors and worked properly. Will close this issue, but @RobertAKARobin and @thatdevgirl please let us know if you are still having issues! :+1:

[2016-03-07 18:20] #41 closed, assigned to nobody

[2016-03-07 18:21] thatdevgirl commented on #41
I no longer have class in CR4, so I'll leave the in-class testing up to @RobertAKARobin.  :)  Thanks for fixing!

[2016-03-07 18:25] bmartinowich commented on #46
@adambray Are you using HDMI port? I'd like to suggest using the dongle moving forward. I tested this out in CR6 today and seemed to work fine. Problem is not with the wall plate or the projector, but rather the HDMI port itself.

[2016-03-07 18:31] bmartinowich commented on #45
Tested out additional cords and connectors with @amychoi - seems to be an issue with HDMI port one, might be the wall plate or the cord within the wall. Please use Airplay in the meantime. @amychoi Will update on next steps

[2016-03-07 18:38] pjsheeran opened #47 "CR2 - HDMI Wall Outlet and Project Tint"
@amychoi @Campus-Commander

Having issues getting any kind of connection out of the wall plug. Cord is loose when plugging into wall so connection might not be optimal.

Also, there is a weird blue tint to the projector now. Makes Faz sad. #

[2016-03-07 18:45] Campus-Commander commented on #18
@amychoi @bmartinowich printed and will be put up during campus flip!

[2016-03-07 19:34] fazthepersian opened #48 "CR2 - Air play and WiFi combo"
Got

 kicked off 4 times today in a span of 2.5 hours. I don't believe this occurs in the other rooms as often. So not sure if it's only a wifi issue or not.
But wifi is certainly slower when the lose of connection happens more frequently.

[2016-03-08 14:02] Campus-Commander commented on #47
And that makes me sad too!

[2016-03-08 15:02] amychoi commented on #47
Nyemadi - let's schedule time today during lunch to troubleshoot CR 2 for
UXDI

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Tue, Mar 8, 2016 at 9:02 AM, Campus-Commander notifications@github.com
wrote:

[2016-03-09 20:28] JonRojas commented on #45
@bmartinowich and @amychoi as a heads up, we have instructors that use Linux or Windows and are not able to connect via Airplay. Do we have a timeline for being able to use cords?

Thanks!

[2016-03-09 20:30] amychoi commented on #45
We have an extra projector on a podium in this room that works and should
be compatible for them. Airplay is also dicey.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Wed, Mar 9, 2016 at 3:28 PM, Jon Rojas notifications@github.com wrote:

[2016-03-10 19:02] JonRojas commented on #48
@fazthepersian definitely a wifi issue. Apple TVs are now hard-wired. Concentus was on campus last night attempting to fix the network.

[2016-03-11 15:24] RobertAKARobin opened #49 "There was a big tub of AWESOME multigrain pretzels in the quiet room a few months ago. Any chance we could get some more?"
I'll always remember them. #NeverForget

[2016-03-11 15:25] amychoi commented on #49
You're hilarious for putting this in github and for #NeverForget - yes, we
can :)

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Fri, Mar 11, 2016 at 10:24 AM, Robert Thomas notifications@github.com
wrote:

[2016-03-14 19:36] bmartinowich commented on #49
Since this issue is so amazing, I am going to close it @amychoi @RobertAKARobin

[2016-03-14 19:36] #49 closed, assigned to nobody

[2016-03-14 19:37] bmartinowich commented on #47
@amychoi were you able to meet with @Campus-Commander last week to address? Any update?

[2016-03-14 19:48] bmartinowich commented on #46
@adambray Just wanted to follow up here, did you try the dongle? This might be a mute point, but still wanted to follow up...

[2016-03-14 19:56] bmartinowich commented on #18
Signs have been posted - I missed the meeting, but will play catch-up! Closing issue

[2016-03-14 19:56] #18 closed, assigned to nobody

[2016-03-14 19:59] bmartinowich commented on #45
@amychoi Scheduling meeting with global to discuss solution for HDMI cord. Will update with next steps

[2016-03-14 22:24] adambray commented on #46
@bmartinowich Pretty sure adding an additional connector will almost never solve the issue. I.e. if the issue is present in the signal path Computer -> HDMI Cable -> HDMI Wall Plate -> Internal Cable -> Projector, then it'll still be a problem when you add a dongle and have Computer -> Dongle -> HDMI Cable -> HDMI Wall Plate -> Internal Cable -> Projector.

I haven't tried with a dongle lately, bu

[2016-03-14 22:26] adambray commented on #45
Just an update that we're able to swap the cables today to get the wall plate working with the built-in room projector, but yeah, it seems the other port on the projector is broken.

I can't speak for evening classes, but assuming we have a long enough cable, WDI seems to be ok without the crash cart projector for the time being.

[2016-03-14 22:29] adambray commented on #31
@bmartinowich were these panels ordered? have they been installed?

[2016-03-17 18:57] alfonsobravo commented on #47
@amychoi @Campus-Commander @bmartinowich any updates on this? having a blurry and off-color projector during visual design week has been a tad less than ideal.  :|

[2016-03-17 22:35] timfoley opened #50 "Recycling?"
I've heard that our building doesn't actually recycle. Is that the case?

[2016-03-17 22:56] Campus-Commander commented on #50
@timfoley @amychoi Not sure what the building does with the trash but can ask Shahier if he knows. Would be disappointing if they don't.

[2016-03-18 14:40] Campus-Commander commented on #50
1776 to look at building recycling and share a composting program they are starting

[2016-03-21 20:44] timfoley commented on #47
My FEWD instructors have also noticed the issue. They've said that the plug in the wall is loose, and they repeatedly lose their connection. They use AirPlay to mitigate, but one of my instructors will be using a PC in his next session, so that won't be an option.

[2016-03-28 15:31] bmartinowich commented on #50
@Campus-Commander @amychoi Any update on this? When are we planning to meet with Shahier?

[2016-03-28 15:32] bmartinowich commented on #48
@fazthepersian is this still an on-going issue? Happy to jump in and test this out today. Let us know, thanks! cc: @amychoi @Campus-Commander

[2016-03-28 15:34] bmartinowich commented on #47
@amychoi @Campus-Commander Seems to be an on going issue, any update here? I'm also going to merge the other CR2 issue into this one.

https://github.com/ga-dc/campus/issues/48 CR2 - Air play and WiFi combo

[2016-03-28 15:34] bmartinowich commented on #48
Closing and merging w/ https://github.com/ga-dc/campus/issues/47

[2016-03-28 15:34] #48 closed, assigned to nobody

[2016-03-28 15:36] bmartinowich commented on #45
@amychoi Any update on next steps? Has this one been resolved?

[2016-03-28 15:37] bmartinowich commented on #31
@adambray - @amychoi is still working w/ global on the panels. I'm going to rename this issue to address the actual problem.

[2016-03-28 15:39] bmartinowich commented on #10
@amychoi Any update from global? In the meantime, can we add additional lights to the track or install a stronger bulb?

[2016-03-28 15:44] amychoi commented on #10
I'm buying 12 more track lights for CR 4-6. It will arrive April 4th.

*Amy Choi *| Experience Coordinator
General Assembly http://generalassemb.ly/ | 1133 15th St. NW |
Washington, D.C.
amy.choi@ga.co | 202-823-3874

On Mon, Mar 28, 2016 at 11:39 AM, Brian Martinowich <
notifications@github.com> wrote:

[2016-03-28 15:49] bmartinowich commented on #50
Confirmed that 1776 does not currently recycle. That said, they are looking into alternative options. Closing issue for now, might suggest that we create a slack group for anyone that is interested in talking more about this.

[2016-03-28 15:49] #50 closed, assigned to nobody

[2016-03-28 17:08] thatdevgirl opened #51 "CR4 - Airplay and WiFi issue"
When I am in CR4 (Tuesday and Thursday evenings), I use Airplay over the WiFi to project.  Every so often I lose that connection. My screen will freeze or become sluggish (i.e. I don't completely have control over my mouse) and then the projection goes away altogether.  I have been able to re-establish the connection after the Airplay disconnects, but it is really distracting when I am in the proc

[2016-03-28 22:17] jshawl opened #52 "CR3 - HDMI port not working"

[2016-03-30 16:23] timfoley opened #53 "Proposal to Fix Wall-Plate HMDI Issues"
# The Problem

The wall plates we have won't stand up to our routine wear and tear. They've become way too loose, and the HMDI cables disconnect very easily.
# A Solution

Rather than plugging into a wall _socket_, which will eventually just loosen up again, I think we would be much better off plugging into a short _cable_ coming out of the wall. That way, the connection has plenty of slack to mov

[2016-04-04 15:49] bmartinowich commented on #53
@timfoley live shout out to you for this! @amychoi is planning to place the order this week. Will have an update soon!

[2016-04-04 15:50] bmartinowich commented on #52
@jshawl Can you provide additional context? is it the port or cord? happy to test this out to resolve!

[2016-04-04 15:51] bmartinowich commented on #52
@amychoi FYI ^^

[2016-04-04 15:53] bmartinowich commented on #51
@thatdevgirl the issue here is actually the network rather than the Airplay device. That said, have you tried to connect directly using the HDMI cord? This should resolve the issue, but we have been addressing the wifi regularly here on campus. Let me know if you have issues with the HDMI cord! cc: @amychoi

[2016-04-04 15:54] bmartinowich commented on #47
@pjsheeran @timfoley @alfonsobravo We are working to replace the wall plates with Tim's most recent suggestion. We are placing the order this week and will provide everyone with an update afterwards. cc: @amychoi

[2016-04-04 15:56] bmartinowich commented on #46
@adambray Planning to replace the wall plates for classrooms. We are placing the order this week, and will have an update afterwards. Stay tuned cc: @amychoi

[2016-04-04 15:58] bmartinowich commented on #10
@adambray Track lights have arrived. We are planning to install them this week -- should resolve issue, but will update afterwards. cc: @amychoi

[2016-04-04 15:59] bmartinowich commented on #8
@amychoi is scheduling a meeting for April 23rd with Global, but trying to schedule earlier in the week to resolve.

[2016-04-04 17:38] thatdevgirl commented on #51
Is the HDMI cord in CR4 fixed?  The last time I tried to use it, I was unable to connect at all to the projector (even after swapping out the cord for a new one), which is why I started using Airplay in the first place.  I have class tomorrow night (Tuesday); I will try again then.

[2016-04-06 12:31] thatdevgirl commented on #51
Updated: I tried the HDMI cord in class yesterday.  It worked great for the first hour and then the picture froze up and eventually stopped projecting.  (Note: I run an app on my computer while I am projecting called "Caffeine", which prevents my computer from falling asleep, so my computer potentially falling asleep and cutting off the display is not a potential cause.)

I unplugged and then repl

[2016-04-06 12:33] thatdevgirl commented on #51
Another case for a wired connection: I tried to pull up https://gallery.generalassemb.ly/ at the end of class to show my students (we're starting to talk about final projects) and the connection was so slow, it did not pull all of the CSS for the page, which made the page look seriously broken.

[2016-04-11 15:38] bmartinowich commented on #53
Tested this process with @timfoley today in CR2 - issue has been resolved!

[2016-04-11 15:38] #53 closed, assigned to nobody

[2016-04-11 15:39] bmartinowich commented on #47
@pjsheeran @timfoley @alfonsobravo Wall plate issue has been tested and resolved! Please let us know if you have any additional concerns!

[2016-04-11 15:39] #47 closed, assigned to nobody

[2016-04-11 15:51] bmartinowich commented on #52
Bought additional supplies to resolve this issue. Will arrive by Thurs/Friday.

[2016-04-11 15:53] bmartinowich commented on #10
@adambray Installed track lights, we can add additional lights if needed. Closing this issue cc: @amychoi

[2016-04-11 15:53] #10 closed, assigned to bmartinowich

[2016-04-11 15:54] bmartinowich commented on #45
Bought additional supplies to resolve this issue (wall plates and cables). Will arrive by Thurs/Friday. @amychoi @adambray

[2016-04-11 15:54] bmartinowich commented on #46
Bought additional supplies to resolve this issue (wall plates and cables). Will arrive by Thurs/Friday. @amychoi @adambray

[2016-04-11 15:55] bmartinowich commented on #19
Still having on going conversations with 1776, @amychoi will update

[2016-04-11 17:29] timfoley commented on #53
![plug](https://cloud.githubusercontent.com/assets/2591447/14436161/6265cc4a-ffe9-11e5-9862-7293da018f87.jpg)

[2016-04-18 15:54] bmartinowich commented on #31
Still working with global on the panels (they just launched a new office in NYC, which has extended the timeline) In the meantime, we're planning to post signs on the table and by the coffee machine. cc: @amychoi

[2016-04-18 15:55] bmartinowich commented on #8
No update - meeting still scheduled for April 23rd

[2016-04-18 15:56] bmartinowich commented on #19
@amychoi Met with 1776, they unfortunately are not planning to restructure the back student work space. I will keep this open, but mark as a lower priority

[2016-04-18 16:41] bmartinowich commented on #45
@adambray Replaced the wall plate in CR 1 today, I tested w/ Andy - but this should be resolved. Will keep open until you confirm cc: @amychoi

[2016-04-25 16:04] bmartinowich commented on #52
Replaced wall mount with new cord system and tested with laptop. Worked successfully, marking as resolved

[2016-04-25 16:04] #52 closed, assigned to nobody

[2016-04-25 16:04] bmartinowich commented on #46
Replaced wall mount with new cord system and tested with laptop. Worked successfully, marking as resolved

[2016-04-25 16:04] #46 closed, assigned to nobody

[2016-04-25 16:06] bmartinowich commented on #45
Replaced wall mount with new cord system and tested with laptop. Worked successfully, marking as resolved

[2016-04-25 16:06] #45 closed, assigned to nobody

[2016-04-27 16:07] thatdevgirl commented on #51
Another update - I have been using the new HDMI connection and it works great!

Just a note to other users of the room: Sometimes I do have issues with the connection not quite making it - either I do not get a picture or the picture is purple (yes... seriously. :) ).  If I unplug and then replug the cable in, I am able to project (with normal colors). This is an occasional issue that does remedy

[2016-04-27 16:07] #51 closed, assigned to nobody

[2016-05-26 12:58] jshawl opened #54 "classroom 5 projector goes to sleep about every 5 mins"